@import "src/style/index";

.chat-main {
    position: relative;
    overflow: hidden;
    background-color: #eff3f6;
    height:100%;
}
.dialogue-tips{
    height:100%;
    line-height: 600px;
    font-size:16px;
    color:#999;
    text-align:center;
    background-color:#eee;
}