.app-container {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  min-height: 100%;
  margin: 0px auto;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .app-container {
    max-width: 1000px;
  }
}
