
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,legend,input,textarea,p,th,td{margin:0;padding:0;}
a,input,button,select,textarea{outline:none}img{border:0;vertical-align:bottom;}em{font-style:normal}textarea{resize:none;}
body{font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #383838;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
ol,ul{list-style:none}
h1,h2,h3,h4,h5{font-size:14px;}
input,label,select{vertical-align:middle;font:100% "Microsoft YaHei",Tahoma}
.clearfix:before,.clearfix:after{content:".";display:table;height:0;font-size:0;line-height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.fl{float:left;display:inline-block;}
.fr{float:right;display:inline-block;} 
body, html {
    height: 100%;
    overflow: hidden;
}