@import "src/style/index";

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    width: 360px;
    margin-left: -180px;
    margin-top: -180px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 1px 3px #2e2d33;
    -moz-box-shadow: 1px 3px 3px #2e2d33;
    box-shadow: 1px 1px 3px #105a84;
    border: 1px solid #787777;
    input.lg-inp{
        border: none;
        background-color: transparent;
        width: 100%;
        height: 45px;
        font-size: 14px;
        display: inline-block;
    }
    h1{
        font-size: 24px;
        color: #434343;
        font-style: normal;
        text-align: center;
        display: block;
        padding: 20px 0;
    }
    .row-error{
        margin: 20px 25px 0;
        padding-left: 40px;
    }
    .row{
        border: 1px solid #a7a5a5;
        border-radius: 5px;
        background-color:rgba(255,255,255,.7);
        margin: 20px 25px 0;
        padding-left: 40px;
        overflow: hidden;
    }
    .row.account{
        @include images($url:"./images/user.png",$size:(20px auto));
        background-position: 11px 11px;
    }
    .row.pwd{
        @include images($url:"./images/password.png",$size:(20px auto));
        background-position: 11px 11px;
    }
    .row.code{
        padding-left: 0;
        margin-right: 145px;
        padding-left: 40px;
    }
    .check-code{
        margin: 20px 25px 0;
    }
    .check-code p{margin-top: 0;
            margin-left: 0;}
    a.send{
        float: right;
        width: 125px;
        height: 45px;
        line-height: 45px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #eeeeee;
        font-size: 16px;
        color: #797979;
        text-align: center;
        cursor: pointer;
    }
    .login-btn{
        margin: 30px 20px 0;
    }
    .login-btn a{
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        border-radius: 5px;
        background-color: #ed4141;
        overflow: hidden;
        cursor: pointer;
    }
    .error-att{
        display: block;
        height: 20px;
        line-height: 20px;
        padding-left: 26px;
        font-size: 12px;
        color: #ff6040;
    }
}